In [128]:
import pandas as pd

In [129]:
df = pd.read_csv("Dataa.csv")
df

,Reference number,Source,Description of Incidents,Type of Attack,Attempted or Raped,Who was it reported to,Consequences of the attack,Date of Incident,Districts,Geographical Region
0,CH14QV99NQ,http://thehimalayantimes.com/fullNews.php?head...,An 18-year-old youth was arrested March 25 on ...,Child,Molesting,Victim Father,Physical Injury,25/03/2013,Kathmandu,"27.7199745185167, 85.32344429728326"
1,XJ99BF74EC,http://nepalpolice.gov.np/%E0%A4%9C%E0%A4%B5%E...,Police had taken under control Hitman Shahi (4...,Child,Attempted,Police,Physical Injury,03/04/2013,Kathmandu,"27.7199745185167, 85.32344429728326"
2,IG49WH92XY,http://nepalpolice.gov.np/2013-05-02-10-32-36....,Fourteen year old Devendra Rana and eleven yea...,Gang,Raped,Police,Physical Injury,01/05/2013,Kathmandu,"27.7199745185167, 85.32344429728326"
3,IS62NJ41RL,http://nepalpolice.gov.np/2013-05-07-10-39-08....,Police on 07 May arrested Dharmaraj Jamarkatte...,Child,Raped,Police,Physical Injury,07/05/2013,Kathmandu,"27.7199745185167, 85.32344429728326"
4,ZP39BS50LY,http://thehimalayantimes.com/fullNews.php?head...,Police on 08 May arrested Bhakta Bahadur Blon ...,Opportunist,Raped,Police,Physical Injury,08/05/2013,Kathmandu,"27.7199745185167, 85.32344429728326"
...,...,...,...,...,...,...,...,...,...,...
2415,VQ02QJ16IA,https://nepalmonitor.org/reports/view/41875,One person has been arrested on charges of rap...,Opportunist,Rape,Police,Physical Injury,14/06/2023,Lalitpur,"27.662405818404125, 85.32435296718468"
2416,OS92RX27HN,https://nepalpolice.gov.np/news/3741/,"Baglung, a 17-year-old boy living in Nisikhola...",Child,Rape,Police,Physical Injury,09/07/2023,Baglung,"28.28119980900559, 83.58164488651326"
2417,LW75CB63DB,https://nepalpolice.gov.np/news/3746/,"Jhapa, 31-year-old Dhan Kumar Limbu, resident ...",Opportunist,Rape,Police,Physical Injury,07/02/2023,Jhapa,"26.577739181619766, 87.89718581504616"
2418,KH48LW89IO,https://nepalpolice.gov.np/news/3767/,"Baglung, Police arrested 28-year-old Bimal Ham...",Opportunist,Rape,Police,Physical Injury,12/07/2023,Baglung,"28.28104863825078, 83.58215987061996"
2419,HH53FD93DS,https://nepalmonitor.org/reports/view/41911,Man arrested from Sankhuwasabha on the charge ...,Opportunist,Rape,Police,Physical Injury,12/07/2023,Sankhuwasabha,"27.676079840209752, 87.30574864049214"

In [130]:
df["Sources"] = df['Source'].str.extract(r'[/(]([\w.]+)')

In [131]:
df

,Reference number,Source,Description of Incidents,Type of Attack,Attempted or Raped,Who was it reported to,Consequences of the attack,Date of Incident,Districts,Geographical Region,Sources
0,CH14QV99NQ,http://thehimalayantimes.com/fullNews.php?head...,An 18-year-old youth was arrested March 25 on ...,Child,Molesting,Victim Father,Physical Injury,25/03/2013,Kathmandu,"27.7199745185167, 85.32344429728326",thehimalayantimes.com
1,XJ99BF74EC,http://nepalpolice.gov.np/%E0%A4%9C%E0%A4%B5%E...,Police had taken under control Hitman Shahi (4...,Child,Attempted,Police,Physical Injury,03/04/2013,Kathmandu,"27.7199745185167, 85.32344429728326",nepalpolice.gov.np
2,IG49WH92XY,http://nepalpolice.gov.np/2013-05-02-10-32-36....,Fourteen year old Devendra Rana and eleven yea...,Gang,Raped,Police,Physical Injury,01/05/2013,Kathmandu,"27.7199745185167, 85.32344429728326",nepalpolice.gov.np
3,IS62NJ41RL,http://nepalpolice.gov.np/2013-05-07-10-39-08....,Police on 07 May arrested Dharmaraj Jamarkatte...,Child,Raped,Police,Physical Injury,07/05/2013,Kathmandu,"27.7199745185167, 85.32344429728326",nepalpolice.gov.np
4,ZP39BS50LY,http://thehimalayantimes.com/fullNews.php?head...,Police on 08 May arrested Bhakta Bahadur Blon ...,Opportunist,Raped,Police,Physical Injury,08/05/2013,Kathmandu,"27.7199745185167, 85.32344429728326",thehimalayantimes.com
...,...,...,...,...,...,...,...,...,...,...,...
2415,VQ02QJ16IA,https://nepalmonitor.org/reports/view/41875,One person has been arrested on charges of rap...,Opportunist,Rape,Police,Physical Injury,14/06/2023,Lalitpur,"27.662405818404125, 85.32435296718468",nepalmonitor.org
2416,OS92RX27HN,https://nepalpolice.gov.np/news/3741/,"Baglung, a 17-year-old boy living in Nisikhola...",Child,Rape,Police,Physical Injury,09/07/2023,Baglung,"28.28119980900559, 83.58164488651326",nepalpolice.gov.np
2417,LW75CB63DB,https://nepalpolice.gov.np/news/3746/,"Jhapa, 31-year-old Dhan Kumar Limbu, resident ...",Opportunist,Rape,Police,Physical Injury,07/02/2023,Jhapa,"26.577739181619766, 87.89718581504616",nepalpolice.gov.np
2418,KH48LW89IO,https://nepalpolice.gov.np/news/3767/,"Baglung, Police arrested 28-year-old Bimal Ham...",Opportunist,Rape,Police,Physical Injury,12/07/2023,Baglung,"28.28104863825078, 83.58215987061996",nepalpolice.gov.np
2419,HH53FD93DS,https://nepalmonitor.org/reports/view/41911,Man arrested from Sankhuwasabha on the charge ...,Opportunist,Rape,Police,Physical Injury,12/07/2023,Sankhuwasabha,"27.676079840209752, 87.30574864049214",nepalmonitor.org

Data cleaning took way longer then expected. Mostly the sources column. There were about 12+ different formats in which website or sources were stored and bringing them into a common representation was a huge task.

***
<b>Below are the unique sources extracted from all of the datasets.</b>

In [132]:
df[df["Sources"] =='olice.gov.np']

Empty DataFrame
Columns: [Reference number, Source, Description of Incidents, Type of Attack, Attempted or Raped, Who was it reported to, Consequences of the attack, Date of Incident, Districts, Geographical Region, Sources]
Index: []

In [133]:
df["Sources"].unique()

array(['thehimalayantimes.com', 'nepalpolice.gov.np', 'myrepublica.com',
       'ekantipur.com', nan, 'nepalnews.com', 'nepalmonitor.org',
       'inseconline.org', 'nagariknetwork.com', 'annapurnapost.com',
       'onlinekhabar.com', 'ratopati.com', 'e.myrepublica.com',
       'ujyaaloonline.com', 'drive.google.com', 'khabarhub.com',
       'rajdhanidaily.com', 'spotlightnepal.com', 'nepalipolice.gov.np',
       'dineshkhabar.com', 'koshionline.com', 'nepalpolice',
       'nayapatrikadaily.com', 'blastkhabar.com', 'kharibot.com',
       'setopati.com', 'newsofnepal.com', 'nepalpati.com',
       'news24nepal.tv', 'thahakhabar.com', 'saurahaonline.com',
       'khabarbreak.com', 'thepublictoday.com', 'pahilopost.com',
       'imagekhabar.com', 'baahrakhari.com', 'enewsbureau.com',
       'nepallive.com', 'accounts.google.com', 'khabarcenter.com',
       'nepalkhabar.com', 'nepalpress.com', 'setokhari.com',
       'sajilopost.com', 'kathmandupress.com', 'deshsanchar.com',
       'pokharanews.com', 'ejanakpurtoday.com', 'gorkhapatraonline.com',
       'kantipath.com'], dtype=object)

Remove the original source column

In [134]:
df = df.drop('Source',axis = 1)

In [135]:
df

,Reference number,Description of Incidents,Type of Attack,Attempted or Raped,Who was it reported to,Consequences of the attack,Date of Incident,Districts,Geographical Region,Sources
0,CH14QV99NQ,An 18-year-old youth was arrested March 25 on ...,Child,Molesting,Victim Father,Physical Injury,25/03/2013,Kathmandu,"27.7199745185167, 85.32344429728326",thehimalayantimes.com
1,XJ99BF74EC,Police had taken under control Hitman Shahi (4...,Child,Attempted,Police,Physical Injury,03/04/2013,Kathmandu,"27.7199745185167, 85.32344429728326",nepalpolice.gov.np
2,IG49WH92XY,Fourteen year old Devendra Rana and eleven yea...,Gang,Raped,Police,Physical Injury,01/05/2013,Kathmandu,"27.7199745185167, 85.32344429728326",nepalpolice.gov.np
3,IS62NJ41RL,Police on 07 May arrested Dharmaraj Jamarkatte...,Child,Raped,Police,Physical Injury,07/05/2013,Kathmandu,"27.7199745185167, 85.32344429728326",nepalpolice.gov.np
4,ZP39BS50LY,Police on 08 May arrested Bhakta Bahadur Blon ...,Opportunist,Raped,Police,Physical Injury,08/05/2013,Kathmandu,"27.7199745185167, 85.32344429728326",thehimalayantimes.com
...,...,...,...,...,...,...,...,...,...,...
2415,VQ02QJ16IA,One person has been arrested on charges of rap...,Opportunist,Rape,Police,Physical Injury,14/06/2023,Lalitpur,"27.662405818404125, 85.32435296718468",nepalmonitor.org
2416,OS92RX27HN,"Baglung, a 17-year-old boy living in Nisikhola...",Child,Rape,Police,Physical Injury,09/07/2023,Baglung,"28.28119980900559, 83.58164488651326",nepalpolice.gov.np
2417,LW75CB63DB,"Jhapa, 31-year-old Dhan Kumar Limbu, resident ...",Opportunist,Rape,Police,Physical Injury,07/02/2023,Jhapa,"26.577739181619766, 87.89718581504616",nepalpolice.gov.np
2418,KH48LW89IO,"Baglung, Police arrested 28-year-old Bimal Ham...",Opportunist,Rape,Police,Physical Injury,12/07/2023,Baglung,"28.28104863825078, 83.58215987061996",nepalpolice.gov.np
2419,HH53FD93DS,Man arrested from Sankhuwasabha on the charge ...,Opportunist,Rape,Police,Physical Injury,12/07/2023,Sankhuwasabha,"27.676079840209752, 87.30574864049214",nepalmonitor.org

In [136]:
df['Consequences of the attack'].unique()

array(['Physical Injury ', 'Physical injury ', 'Physical injury',
       'Mantally ill', 'Murder', 'Physical Injury', 'Pregnant',
       'physical Injury', 'pregnant ', 'Dearth', 'Murdered',
       'Physical Attack', 'Muder', ' pregnent', 'pregnant', nan,
       ' Physical Injury ', ' Murdered'], dtype=object)

In [137]:
df['Consequences of the attack'] = df['Consequences of the attack'].str.lower()
df['Consequences of the attack'] = df['Consequences of the attack'].str.strip()

In [138]:
df['Consequences of the attack'] = df['Consequences of the attack'].str.replace('murdered','murder')
df['Consequences of the attack'] = df['Consequences of the attack'].str.replace('muder','murder')
df['Consequences of the attack'] = df['Consequences of the attack'].str.replace('physical attack','physical injury')
df['Consequences of the attack'] = df['Consequences of the attack'].str.replace('pregnent','pregnant')
df['Consequences of the attack'] = df['Consequences of the attack'].str.replace('dearth','death')
df['Consequences of the attack'] = df['Consequences of the attack'].str.replace('mantally ill','mentally ill')

In [139]:
df['Consequences of the attack'].unique()

array(['physical injury', 'mentally ill', 'murder', 'pregnant', 'death',
       nan], dtype=object)

In [140]:
df['Type of Attack'].unique()

array(['Child ', 'Gang', 'Opportunist', 'Child', 'Oppurtunist',
       'Opporunist', 'Marital', 'child', 'women', 'opportunist', 'gang',
       nan, 'Minor', '15', 'Gang '], dtype=object)

In [141]:
df['Type of Attack'] = df['Type of Attack'].str.lower()
df['Type of Attack'] = df['Type of Attack'].str.strip()

In [142]:
df[df['Type of Attack'] == 'women']

,Reference number,Description of Incidents,Type of Attack,Attempted or Raped,Who was it reported to,Consequences of the attack,Date of Incident,Districts,Geographical Region,Sources
875,TW05LI57SH,43 years old Ranjit Thami was arrested by pol...,women,Rape,Police,physical injury,11/01/2020,Kathmandu,"27.724898979916542, 85.32441373802415",NaN

In [143]:
df['Type of Attack'] = df['Type of Attack'].str.replace('oppurtunist','opportunist')
df['Type of Attack'] = df['Type of Attack'].str.replace('opporunist','opportunist')
df['Type of Attack'] = df['Type of Attack'].str.replace('15','minor')
df['Type of Attack'] = df['Type of Attack'].str.replace('child','minor')
df['Type of Attack'] = df['Type of Attack'].str.replace('women','opportunist')

In [144]:
df['Type of Attack'].unique()

array(['minor', 'gang', 'opportunist', 'marital', nan], dtype=object)

In [145]:
df.rename(columns = {'Who was it reported to':'Reported To'}, inplace = True)

In [146]:
df['Reported To'] = df['Reported To'].str.lower()
df['Reported To'] = df['Reported To'].str.strip()

In [147]:
df[df['Reported To']=='his wife']

,Reference number,Description of Incidents,Type of Attack,Attempted or Raped,Reported To,Consequences of the attack,Date of Incident,Districts,Geographical Region,Sources
202,GE82AS74UU,Police had arrested a man of around 35 year ol...,minor,Raped,his wife,physical injury,18/11/2015,Salyan,"28.442069207944435, 82.17124991675479",nepalpolice.gov.np

In [148]:
df['Reported To'].unique()

array(['victim father', 'police', 'victim', 'family', 'victim family',
       'neighbours', 'neighbors', 'victim mother', 'victim relatives',
       'in-law of victim', 'victims mother', 'victims family',
       'victim side', 'his wife', 'victim’s relatives', 'victim raletive',
       'victim parents', 'victim raletives', 'victim relative',
       'victim’s family', 'her father’s sister', 'victim’s mother',
       'victim’s father', "victim's grandmother", "victim's family",
       'father-in-law', 'wife', "victim's mother", "victim's parents",
       "victims's mother", "victim's neighbors", "victim's son",
       "chairperson of women's security home", 'locals',
       "victim's brother", 'relatives', "victim's father",
       "victim's party", 'girl', "victim's side", 'victim aunt',
       "victim's relatives", 'victim’s parents', 'victim’s side',
       "victim's relative", "victim's uncle", nan, "victm's mother",
       "victim's famaly", 'insec and other organizations', "vctim's side",
       'victims father', "victim's side.", "victim girl's side",
       'victim parenst'], dtype=object)

In [157]:
df['Reported To'] = df['Reported To'].str.replace(r'victim father','parents')
df['Reported To'] = df['Reported To'].str.replace(r'father','parents')
df['Reported To'] = df['Reported To'].str.replace(r'mother','parents')
df['Reported To'] = df['Reported To'].str.replace(r'victim family','parents')
df['Reported To'] = df['Reported To'].str.replace(r'neighbors','neighbours')
df['Reported To'] = df['Reported To'].str.replace(r'victim mother','parents')
df['Reported To'] = df['Reported To'].str.replace(r'victims family','family')
df['Reported To'] = df['Reported To'].str.replace(r'victim side','victim')
df['Reported To'] = df['Reported To'].str.replace(r'his wife','wife')
df['Reported To'] = df['Reported To'].str.replace(r'victim’s relatives','relatives')
df['Reported To'] = df['Reported To'].str.replace(r'victim raletive','relatives')
df['Reported To'] = df['Reported To'].str.replace(r'victim raletives','relatives')
df['Reported To'] = df['Reported To'].str.replace(r'victim parents','parents')
df['Reported To'] = df['Reported To'].str.replace(r'victim relative','relatives')
df['Reported To'] = df['Reported To'].str.replace(r'victim relative','relatives')
df['Reported To'] = df['Reported To'].str.replace(r'victim relative','relatives')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s family','family')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s parents','parents')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s neighbors','neighbours')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s son','son')
df['Reported To'] = df['Reported To'].str.replace(r'chairperson of women\'s security home','security home')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s brother','siblings')
df['Reported To'] = df['Reported To'].str.replace(r'brother','siblings')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s party','party')
df['Reported To'] = df['Reported To'].str.replace(r'victim’s parents','parents')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s famaly','family')
df['Reported To'] = df['Reported To'].str.replace(r'insec and other organizations','organizations')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s side','victim')
df['Reported To'] = df['Reported To'].str.replace(r'vctim\'s side','victim')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s relatives','relatives')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s side.','victim')
df['Reported To'] = df['Reported To'].str.replace(r'victim girl\'s side','victim')
df['Reported To'] = df['Reported To'].str.replace(r'victim parenst','parents')
df['Reported To'] = df['Reported To'].str.replace(r'relativess','relatives')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s neighbours','neighbours')
df['Reported To'] = df['Reported To'].str.replace(r'parents-in-law','in-laws')
df['Reported To'] = df['Reported To'].str.replace(r'in-law of victim','in-laws')
df['Reported To'] = df['Reported To'].str.replace(r'victim’s family','family')
df['Reported To'] = df['Reported To'].str.replace(r'victim side','victim')
df['Reported To'] = df['Reported To'].str.replace(r'victim relative','victim')
df['Reported To'] = df['Reported To'].str.replace(r'victims uncle','relatives')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s parents','parents')
df['Reported To'] = df['Reported To'].str.replace(r'her parents\’s sister','relatives')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s grandparents','grandparents')
df['Reported To'] = df['Reported To'].str.replace(r'victims side','victim')
df['Reported To'] = df['Reported To'].str.replace(r'victims relative','relatives')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s parents','parents')
df['Reported To'] = df['Reported To'].str.replace(r'victim aunt','relatives')
df['Reported To'] = df['Reported To'].str.replace(r'victim\’s side','victim')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s relative','relative')
df['Reported To'] = df['Reported To'].str.replace(r'victim\'s uncle','relative')
df['Reported To'] = df['Reported To'].str.replace(r'victim.','victim')

C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:17: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s family','family')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:18: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s parents','parents')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s neighbors','neighbours')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:20: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s son','son')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'chairperson of women\'s security home','security home')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s brother','siblings')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:24: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s party','party')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:26: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s famaly','family')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:28: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s side','victim')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:29: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'vctim\'s side','victim')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:30: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s relatives','relatives')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:31: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s side.','victim')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:32: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim girl\'s side','victim')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:35: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s neighbours','neighbours')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:42: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s parents','parents')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:43: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'her parents\’s sister','relatives')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:44: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s grandparents','grandparents')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:47: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s parents','parents')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:49: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\’s side','victim')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:50: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s relative','relative')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:51: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim\'s uncle','relative')
C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_12448\359413132.py:52: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Reported To'] = df['Reported To'].str.replace(r'victim.','victim')

In [158]:
df['Reported To'].unique()

array(['parents', 'police', 'victim', 'family', 'neighbours', 'relatives',
       'in-laws', 'victim parents', 'wife', 'grandparents',
       "victim's parents", 'son', 'security home', 'locals', 'siblings',
       'party', 'girl', 'relative', nan, "victm's parents",
       'organizations'], dtype=object)

In [156]:
df[df['Reported To']=='victim.']

,Reference number,Description of Incidents,Type of Attack,Attempted or Raped,Reported To,Consequences of the attack,Date of Incident,Districts,Geographical Region,Sources
1998,KI69CY34HM,Police arrested a 14-year-old boy from the Kon...,opportunist,Raped,victim.,physical injury,02/06/2022,Lalitpur,"27.663774171732825, 85.32435296718468",inseconline.org

In [60]:
df['Attempted or Raped'].unique()

array(['Molesting', 'Attempted', 'Raped', 'Assulting ', 'Molesting ',
       'Sexually Abusing ', 'Assaulted ', 'Attemed', 'Attemped',
       'sexual assault ', ' sexually abusing ', ' sexually harassing',
       'molesting ', ' sexually abusing', 'sexually assaulting ',
       'sexually harassing', ' sexual voilance', 'Sexual Harrassment',
       'Molestation', 'Sexual abuse', 'Raped and killed', 'Rape', 'Both',
       nan, 'Sexually Abusing', 'Sexually Abused', 'Sexually harassing',
       'sexually Abusing', 'assaulting', 'Marital Rape',
       'Sexually Harassment', 'Assaulted', 'Minor', 'Sexually Assault ',
       'Raped ', 'Sexually abused', 'Sexually Assaulted',
       'Attempted rape', 'Sexually harassed', 'Sexually assaulted',
       'Harrassed', 'Attempted ', 'Abused', 'sexually assaulting',
       'Sexually assulted', 'ATtempted', 'Sexually assaulted '],
      dtype=object)

In [61]:
df['Attempted or Raped'] = df['Attempted or Raped'].str.lower()
df['Attempted or Raped'] = df['Attempted or Raped'].str.strip()

In [62]:
df['Attempted or Raped'].unique()

array(['molesting', 'attempted', 'raped', 'assulting', 'sexually abusing',
       'assaulted', 'attemed', 'attemped', 'sexual assault',
       'sexually harassing', 'sexually assaulting', 'sexual voilance',
       'sexual harrassment', 'molestation', 'sexual abuse',
       'raped and killed', 'rape', 'both', nan, 'sexually abused',
       'assaulting', 'marital rape', 'sexually harassment', 'minor',
       'sexually assault', 'sexually assaulted', 'attempted rape',
       'sexually harassed', 'harrassed', 'abused', 'sexually assulted'],
      dtype=object)

In [63]:
df[df['Attempted or Raped']=='sexual voilance']

,Reference number,Description of Incidents,Type of Attack,Attempted or Raped,Reported To,Consequences of the attack,Date of Incident,Districts,Geographical Region,Sources
458,LC26FI16DH,A special team of police despatched to monitor...,opportunist,sexual voilance,police,physical injury,04/08/2017,Kathmandu,"27.727026303889943, 85.32372709254854",nepalpolice.gov.np

In [64]:
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('assulting','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('attemed','attempt')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexually abusing','abuse')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('molesting','molestation')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('attemped','attempt')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexually harassing','harassment')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexually assaulting','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexual voilance','harassment')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexual harrassment','harassment')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexual abuse','abuse')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('raped and killed','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('rape','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexually abused','abuse')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('assaulting','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexually harassment','harassment')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('minor','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexually assault','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexually assaulted','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('attempted rape','attempt')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexually harassed','harassment')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('harrassed','harassment')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('abused','abuse')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexually assulted','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('assultd','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('sexual assault','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('attempted assault','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('assaulted','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('assaultd','assault')
df['Attempted or Raped'] = df['Attempted or Raped'].str.replace('attempted','attempt')

In [65]:
df['Attempted or Raped'].unique()

array(['molestation', 'attempt', 'assault', 'abuse', 'harassment', 'both',
       nan, 'marital assault'], dtype=object)

In [66]:
df["Districts"].unique()

array(['Kathmandu', 'Siraha', 'Jhapa', 'Rautahat', 'Mahottari', 'sunsari',
       'Rupandehi', 'Morang', 'Sindhupalchowk', 'Khotang', 'Rukum',
       'Palpa', 'Lamjung', 'Gulmi', 'Kaverepalanchowk', 'Kaski', 'Banke',
       'Kavrepalanchock', 'Bara', 'Bhaktapur', 'Pyuthan',
       'Kaverepalanchok', 'Sarlahi', 'Bhojpur', 'Sunsari', 'Terhathum',
       'Dang', 'Syangja', 'Kailali', 'Kanchanpur', 'Gorkha', 'Dadeldhura',
       'Dhanusa', 'Kavrepalanchok', 'Panchthar', 'Sindhuli', 'Tanahu',
       'Udayapur', 'Makwanpur', 'Ilam', 'Rasuwa', 'Kapilvastu', 'Baglung',
       'Bardiya', 'Sindhupalchok', 'Jajarkot', 'Lalitpur', 'Dailekh',
       'Myagdi', 'Arghakhanchi', 'Taplejung', 'Dolakha', 'Nawalparasi',
       'Darchula', 'Salyan', 'Surkhet', 'Parsa', 'Parbat', 'Saptari',
       'Panchathar', 'Kalikot', 'Dhanusha', 'Chitwan', 'Mohattari',
       'Baitadi', 'Bajura', 'Nuwakot', 'Bajhang', 'Sunsary', 'Jumla',
       'Solukhumbu', 'Mugu', 'Dhading', 'Nawalparasi West',
       'Western Rukum', 'Rukum East', 'Birgunj', 'Kavre', 'Dhankuta',
       'Nawalparasi east', 'Doti', 'Rupendhi', 'Nawalparasi west',
       'Achham', 'Udhayapur', 'Hetauda', 'Rukum west', 'Okhaldhunga',
       'Terahathum', 'Madi', 'Tanahun', 'Ramechhap', 'Mustang',
       'Rukum West', 'Dolpa', 'Sankhuwasabha', 'Makawanpur', 'Chitawan',
       'Udaypur', 'Kathamandu', 'Sindupalchowk', 'Solukhumbhu',
       'Nawalparasi East', 'Rukum (West)', 'Syangya', 'Kapilbastu',
       'Kaplivastu', 'Accham', 'Rukun (Eastern)', 'Rolpa',
       'Rukum(eastern)', 'Bardia', 'Nawalpur', nan, 'Rupendehi', 'Bakya',
       'Sayanja', 'Ruoendehi', 'Sapatari', 'Bhojur', 'Sindhhupalchok',
       'Terathum', 'Humla', 'Pokhara', 'Kabhrepalanchok',
       'Sindhupalachok', 'Nawaparasi West', 'Sayangja', 'Udaipur',
       'Illam', 'Bardibas', 'Itahari', 'Taplegunj', 'Manang', 'parsa',
       'Sudurpachim', 'Lumbini', 'Pratappur', 'Tahanu',
       'Rukum West, Karnali', 'Dharan', 'Rampur, Palpa',
       'Gandaki, Parbat', 'Gandaki, Myagdi', 'Karnali, Dailekh',
       'Mades,Bara', 'Rupandhi', 'Kritipur', 'Pachthar', 'Sindhupalchwok',
       'Okheldunga', 'Tehrathum', 'Rupandahi', 'Sindhuplchowk',
       'Shankhuwasabha', 'Solukhubmu', 'Dolkha', 'Sindupalchok'],
      dtype=object)

In [67]:
df

,Reference number,Description of Incidents,Type of Attack,Attempted or Raped,Reported To,Consequences of the attack,Date of Incident,Districts,Geographical Region,Sources
0,CH14QV99NQ,An 18-year-old youth was arrested March 25 on ...,minor,molestation,father,physical injury,25/03/2013,Kathmandu,"27.7199745185167, 85.32344429728326",thehimalayantimes.com
1,XJ99BF74EC,Police had taken under control Hitman Shahi (4...,minor,attempt,police,physical injury,03/04/2013,Kathmandu,"27.7199745185167, 85.32344429728326",nepalpolice.gov.np
2,IG49WH92XY,Fourteen year old Devendra Rana and eleven yea...,gang,assault,police,physical injury,01/05/2013,Kathmandu,"27.7199745185167, 85.32344429728326",nepalpolice.gov.np
3,IS62NJ41RL,Police on 07 May arrested Dharmaraj Jamarkatte...,minor,assault,police,physical injury,07/05/2013,Kathmandu,"27.7199745185167, 85.32344429728326",nepalpolice.gov.np
4,ZP39BS50LY,Police on 08 May arrested Bhakta Bahadur Blon ...,opportunist,assault,police,physical injury,08/05/2013,Kathmandu,"27.7199745185167, 85.32344429728326",thehimalayantimes.com
...,...,...,...,...,...,...,...,...,...,...
2415,VQ02QJ16IA,One person has been arrested on charges of rap...,opportunist,assault,police,physical injury,14/06/2023,Lalitpur,"27.662405818404125, 85.32435296718468",nepalmonitor.org
2416,OS92RX27HN,"Baglung, a 17-year-old boy living in Nisikhola...",minor,assault,police,physical injury,09/07/2023,Baglung,"28.28119980900559, 83.58164488651326",nepalpolice.gov.np
2417,LW75CB63DB,"Jhapa, 31-year-old Dhan Kumar Limbu, resident ...",opportunist,assault,police,physical injury,07/02/2023,Jhapa,"26.577739181619766, 87.89718581504616",nepalpolice.gov.np
2418,KH48LW89IO,"Baglung, Police arrested 28-year-old Bimal Ham...",opportunist,assault,police,physical injury,12/07/2023,Baglung,"28.28104863825078, 83.58215987061996",nepalpolice.gov.np
2419,HH53FD93DS,Man arrested from Sankhuwasabha on the charge ...,opportunist,assault,police,physical injury,12/07/2023,Sankhuwasabha,"27.676079840209752, 87.30574864049214",nepalmonitor.org

In [68]:
df["Districts"]=df["Districts"].str.lower()
df["Districts"]=df["Districts"].str.strip()
df["Districts"]=df["Districts"].str.replace("kaverepalanchowk","kavrepalanchok")
df["Districts"]=df["Districts"].str.replace("sunsary","sunsari")
df["Districts"]=df["Districts"].str.replace("rupendhi","rupandehi")
df["Districts"]=df["Districts"].str.replace("terahathum","terhathum")
df["Districts"]=df["Districts"].str.replace("solukhubmu","solukhumbu")
df["Districts"]=df["Districts"].str.replace("tehrathum","terhathum")
df["Districts"]=df["Districts"].str.replace("terathum","terhathum")
df["Districts"]=df["Districts"].str.replace("rupandahi","rupandehi")
df["Districts"]=df["Districts"].str.replace("rupandhi","rupandehi")
df["Districts"]=df["Districts"].str.replace("sindupalchok","sindhupalchowk")
df["Districts"]=df["Districts"].str.replace("sindupalchowk","sindhupalchowk")
df["Districts"]=df["Districts"].str.replace("sindhupalachok","sindhupalchowk")
df["Districts"]=df["Districts"].str.replace("sindhhupalchok","sindhupalchowk")
df["Districts"]=df["Districts"].str.replace("sindhupalchok","sindhupalchowk")
df["Districts"]=df["Districts"].str.replace("sindhuplchwok","sindhupalchowk")
df["Districts"]=df["Districts"].str.replace("sindhuplchowk","sindhupalchowk")
df["Districts"]=df["Districts"].str.replace("sindhupalchwok","sindhupalchowk")
df["Districts"]=df["Districts"].str.replace("mohattari","mahottari")
df["Districts"]=df["Districts"].str.replace("ruoendehi","rupandehi")
df["Districts"]=df["Districts"].str.replace("rupendehi","rupandehi")
df["Districts"]=df["Districts"].str.replace("western rukum","rukum")
df["Districts"]=df["Districts"].str.replace("rukum west, karnali","rukum")
df["Districts"]=df["Districts"].str.replace("rukum \(west\)","rukum")
df["Districts"]=df["Districts"].str.replace("rukum west","rukum")
df["Districts"]=df["Districts"].str.replace("rukum east","rukum")
df["Districts"]=df["Districts"].str.replace("kabhrepalanchok","kavre")
df["Districts"]=df["Districts"].str.replace("kavrepalanchock","kavre")
df["Districts"]=df["Districts"].str.replace("kaverepalanchok","kavre")
df["Districts"]=df["Districts"].str.replace("kavrepalanchok","kavre")
df["Districts"]=df["Districts"].str.replace("bhojur","bhojpur")
df["Districts"]=df["Districts"].str.replace("sayangja","syangja")
df["Districts"]=df["Districts"].str.replace("sayanja","syangja")
df["Districts"]=df["Districts"].str.replace("panchathar","panchthar")
df["Districts"]=df["Districts"].str.replace("pachthar","panchthar")
df["Districts"]=df["Districts"].str.replace("tahanu","tanahu")
df["Districts"]=df["Districts"].str.replace("tanahun","tanahu")
df["Districts"]=df["Districts"].str.replace("udhayapur","udayapur")
df["Districts"]=df["Districts"].str.replace("udaypur","udayapur")
df["Districts"]=df["Districts"].str.replace("udaipur","udayapur")
df["Districts"]=df["Districts"].str.replace("ilam","illam")
df["Districts"]=df["Districts"].str.replace("kapilbastu","kapilvastu")
df["Districts"]=df["Districts"].str.replace("bardia","bardiya")
df["Districts"]=df["Districts"].str.replace("dailekh","dailekh")
df["Districts"]=df["Districts"].str.replace("taplegunj","taplejung")
df["Districts"]=df["Districts"].str.replace("dolkha","dolakha")
df["Districts"]=df["Districts"].str.replace("nawaparasi west","nawalparasi")
df["Districts"]=df["Districts"].str.replace("nawalparasi west","nawalparasi")
df["Districts"]=df["Districts"].str.replace("nawalparasi east","nawalparasi")
df["Districts"]=df["Districts"].str.replace("pratappur","nawalparasi")
df["Districts"]=df["Districts"].str.replace("sapatari","saptari")
df["Districts"]=df["Districts"].str.replace("chitawan","chitwan")
df["Districts"]=df["Districts"].str.replace("solukhumbhu","solukhumbu")
df["Districts"]=df["Districts"].str.replace("solukhubmu","solukhumbu")
df["Districts"]=df["Districts"].str.replace("shankhuwasabha","sankhuwasabha")
df["Districts"]=df["Districts"].str.replace("bakya","banke")
df["Districts"]=df["Districts"].str.replace("rampur, palpa","palpa")
df["Districts"]=df["Districts"].str.replace("gandaki, parbat","parbat")
df["Districts"]=df["Districts"].str.replace("gandaki, myagdi","myagdi")
df["Districts"]=df["Districts"].str.replace("karnali, dailekh","dailekh")
df["Districts"]=df["Districts"].str.replace("mades,bara","bara")
df["Districts"]=df["Districts"].str.replace("kritipur","kathmandu")
df["Districts"]=df["Districts"].str.replace("okheldunga","okhaldhunga")
df["Districts"]=df["Districts"].str.replace("mades,bara","bara")
df["Districts"]=df["Districts"].str.replace("birgunj","parsa")
df["Districts"]=df["Districts"].str.replace("hetauda","makwanpur")
df["Districts"]=df["Districts"].str.replace("pokhara","kaski")
df["Districts"]=df["Districts"].str.replace("itahari","sunsari")
df["Districts"]=df["Districts"].str.replace("lumbini","rupandehi")
df["Districts"]=df["Districts"].str.replace("dharan","sunsari")
df["Districts"]=df["Districts"].str.replace("bardibas","mahottari")
df["Districts"]=df["Districts"].str.replace("dhanusha","dhanusa")
df["Districts"]=df["Districts"].str.replace("madi","chitwan")

C:\Users\Bishesh Kafle\AppData\Local\Temp\ipykernel_13940\2300343643.py:25: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Districts"]=df["Districts"].str.replace("rukum \(west\)","rukum")

In [69]:
len(df['Districts'].unique())

85

In [70]:
df.dropna(inplace = True)

In [71]:
df = df.reset_index()
df = df.drop('index',axis = 1)

In [72]:
df.to_csv('cleandata.csv')